# don't add these paths to docker image, they will be accessed by bind volumes.
data/input
data/output

# most of the vendored solaris/ folder is not used.
solaris/docs
solaris/tests
solaris/static
solaris/solaris/nets
solaris/solaris/data/*.geojson
solaris/solaris/data/*.tif
solaris/solaris/data/*.csv

Makefile
**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/venv

